.peel-div{
  margin: 15em 5em;
  text-align: justify;
}

.section {
  display: flex;
  flex-direction: row;
}

.peel {
  width: 700px;
  height: 800px;
}

.peel-p{
  padding: 50px 0 10px;
  font-style: italic;
  color: #8d2bc0;
}

.infinity{
  margin: 8em 4em;
  text-align: left;
}

.h5-infinity{
  padding: 10px 0;
  font-weight: bold;
}

.treatment-info-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-top: 5em;
  padding: 15px 25px;
  // background-color: rgba(250, 240, 213, 0.8);
  background-color: rgba(243, 237, 233, 0.8);
  border: 1px solid rgb(254, 243, 250);
  p {
    margin: 0;
  }
}

.time-icon, .downtime-icon, .results-icon, .lasts-icon  {
  font-size: 18px;
  margin: 0 3px 3px 0;
}




