.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 20px 0;
  
  // color: #4a4a4a; 
  width: 100%;
  margin: -1px 0;
  margin-top: auto;
  height: 50px;
}

.footer-p {
  text-align: center;
  margin: 1em 0 1em 0;
}

.footer-p2 {
  text-align: center;
  margin: 1em 0 1em 0.4em;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adrienn {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.info-footer {
  height: 250px;
  background-color: #d2caca;
  display:grid;
  justify-content: flex-start;
  padding: 40px;
}

.salon-info-header {
  margin-top: 20px;
}
.salon-info{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.mob-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-p {
  padding: 10px;
  margin: 0;
}