.mask-section{
  display: flex;
  flex-direction: row;
  margin: 14em 5em 5em;
}

.jelly-info {
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: center;
  
}

.jelly-h3 {
  margin-bottom: 1em;
  text-align: center;
}

.jellies {
  text-align: left;
  padding: 10px;
  margin-left: 2em;
  width: 90%;
}

.mask{
  width: 500px;
  height: auto;
}