.navbar{
  // background-color:#E8E8E8;
  // position: absolute;
  // top: 0;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  letter-spacing: 0.05em;
  line-height: 1.4;
  font-weight: 600;
  background-color: rgba(189, 186, 186, 0.7);
  // background-color: rgba(197, 192, 192, 0.8);
  border-bottom: 2px solid #8d2bc0;
  margin: 0;
  padding: 0;
}

#treatments-dropdown.dropdown-toggle::after {
  display: none !important;
}

div.d-flex.flex-column {
  padding: 0;
}

.nav-links{
  margin: 0.5em;
  a.nav-link{
    color: #212529;
  }
}

a.enhance-text {
  color: #8d2bc0;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

a.enhance-text:hover {
  color: #6a04a1;
  cursor: pointer;
}

a.enhance-text::after{
  color: #8d2bc0;
}

a.enhance-text.nav-link{
  padding: 1em 0;
}

.divider {
  height: 2px;
  background-color: #8d2bc0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-info {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}

.email, .mobile {
  margin: 0;
  font-size: 1em;
  align-self: center;
  text-decoration: none;
  color: inherit;
}

.email:hover, .mobile:hover {
  color: #8d2bc0;
}

.email-div, .mobile-div {
  display: flex;
  align-items: center;
  margin: 0 5em;
}

.email-icon, .phone-icon {
  font-size: 18px;
  margin-right: 8px;
}

.insta{
  font-size: 23px;
  align-self: center;
  cursor: pointer;
}

.branch{
  width: 250px;
  
}
