.navbar{
  // background-color:#E8E8E8;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  letter-spacing: 0.05em;
  line-height: 1.4;
  font-weight: 600;
  background-color: rgba(224, 224, 224, 0.7);
  // background-color: rgba(33, 37, 41, 0.2);
  border-bottom: 1px solid #8d2bc0;
  margin: 0;
  padding: 0;
}

div.d-flex.flex-column {
  padding: 0;
}

.nav-links{
  margin: 0.5em;
}

a.enhance-text {
  color: #8d2bc0;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

a.enhance-text:hover {
  color: #6a04a1;
  cursor: pointer;
}

a.enhance-text::after{
  color: #8d2bc0;
}

a.enhance-text.nav-link{
  padding: 1em 0;
}

.divider {
  height: 1px;
  background-color: #8d2bc0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1em;
}

.email, .mobile {
  margin: 0;
  font-size: 1em;
  align-self: center;
  text-decoration: none;
  color: inherit;
}

.email:hover, .mobile:hover {
  color: #8d2bc0;
}

.email-div, .mobile-div {
  display: flex;
  align-items: center;
  margin: 0 5em;
}

.email-icon, .phone-icon {
  font-size: 20px;
  margin-right: 8px;
}

