
.sb-info {
  padding: 15em 5em 5em;
}

.face-img {
  margin-top: 5em;
  width: 800px;
  height: auto;
}

.profhilo{
  margin: 7em 5em;
  text-align: justify;
}

ul {
  text-align: start;
}

.eye-img{
  width: 700px;
  height: auto;
}

