* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  position: relative;
  z-index: 1;
  font-size: 17px;
  font-family: "Lora", serif;
  color: #4a4a4a;
  font-optical-sizing: auto;
  color: #4a4a4a;
  letter-spacing: 0.05em;
  line-height: 1.4;
  font-weight: 500;  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  min-width: 100%;
  width: fit-content;
  margin: 0;
  padding: 0;
  background-color: #fbfafa;

}

.up-button {
  width: 30px;
  height: 55px;
  border: none;
  background-color: inherit;
  color: #334459;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: fixed;
  right: 40px;  
  z-index: 1000;  /* Ensure it appears on top of other content */
  transition: all 0.3s ease;
}

.footer-stopper {
  height: 100px;
  position: relative;
  z-index: 1;
}



// @media only screen and (max-width: 450px) {
//   main {
//     font-size: 14px;
//   }
// }